<form (ngSubmit)="onSubmit()" [formGroup]="formSignUp">
  <input type="text" formControlName="email" placeholder="Email">
  <p *ngIf="formSignUp.get('email').invalid && formSignUp.get('email').touched">Email is required</p>
  <br>
  <br>
  <input type="password" formControlName="password" placeholder="Password">
  <br>
  <br>
  <div formGroupName="subjects">
    <label><input type="checkbox" formControlName="nodeJS">NodeJS</label>
    <label><input type="checkbox" formControlName="angular">Angular</label>
    <label><input type="checkbox" formControlName="reactJS">ReactJS</label>
  </div>
  <br>
  <br>
  <button [disabled]="formSignUp.invalid">Submit</button>
</form>
<code>{{ formSignUp.controls.email.errors | json }}</code>